extends ./layout.jade

block content
  ul
    li #{description}
      img(src='#{link}')
      p #{author}
    
    form(action="/gallery" method="POST")
      input(type="text", name="author" value='#{author}')
      input(type="text", name="link" value='#{link}')
      input(type="text", name="description" value='#{description}')

    form(method="GET" action="/edit_method=PUT")
      input(type="submit" value="EDIT")

    form(method="GET" action="/edit_method=DELETE")
      input(type="submit" value="DELETE")