extends ./layout.jade

block content
  body
    h1 New Photo
    img(src='#{link}')
    form(method="POST" action="/gallery/#{id}")
      input(type="text", name="author" value="#{author}")
      input(type="text", name="link" value="#{link}")
      input(type="text", name="description" value="#{description}")
      Button(type="submit") Submit

    form(method="POST" action="/gallery/#{id}?_method=DELETE")
      Button(type="submit") Delete